/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | xxx |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L   |  U  |  Y  | BKSP | xxx |
            // | xxx |  A  |  R  |  S  |  T  |  D  |   |  H  |  N   |  E  |  I  |  O   | xxx |
            // | xxx |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   | ,   |  .  |  /   | xxx |
            //                    | ALT |MO 1 | SPC |   | SHT | MO 2 | CTL |

            bindings = <
&none  &kp Q  &kp W  &kp F      &kp P   &kp G        &kp J      &kp L   &kp U      &kp Y    &kp BSPC  &none
&none  &kp A  &kp R  &kp S      &kp T   &kp D        &kp H      &kp N   &kp E      &kp I    &kp O     &none
&none  &kp Z  &kp X  &kp C      &kp V   &kp B        &kp K      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &none
                     &kp LALT   &mo 1   &kp SPACE    &kp LSHFT  &mo 2   &kp RCTRL
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // | xxx |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  ;  |  :   | xxx |
            // | xxx | DEL | xxx |  '  |  '  | SHT |   |  ←  |  ↓  |  ↑  |  →  |  '   | xxx |
            // | xxx |  €  |  £  |  "  | <> | CMD |   | HOME| END |  <> | ->  |  "   | xxx |
            //                    | xxx | xxx | xxx |   | ALT |MO 3 | xxx |

            bindings = <
&none  &kp EXCL   &kp AT     &kp HASH       &kp DLLR            &kp PRCNT       &kp CARET  &kp AMPS   &kp STAR  &kp SEMI   &kp COLON  &none
&none  &kp DEL    &none      &kp SQT        &kp SQT             &kp LSHFT       &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &kp SQT    &none
&none  &kp RA(N2) &kp RA(N3) &kp RA(LBKT)   &kp RA(LS(LBKT))   &kp LGUI        &kp HOME   &kp END    &none     &none      &kp DQT    &none
                             &trans         &trans              &trans          &kp RALT   &mo 3      &trans
            >;
        };

        layer_2 {
            // -----------------------------------------------------------------------------------------
            // | xxx | ESC | xxx |  (  |  )  |  _  |   |  -  |  7  |  8  |  9  |  .   | xxx |
            // | xxx | TAB |  |  |  {  |  }  |  +  |   |  =  |  4  |  5  |  6  | ENT  | xxx |
            // | xxx |  `  |  ~  |  [  |  ]  |  \  |   |  0  |  1  |  2  |  3  |  *   | xxx |
            //                    | GUI |MO 3 | SHT |   | xxx | xxx | xxx |

            bindings = <
&none  &kp ESC    &none       &kp LPAR  &kp RPAR  &kp UNDER    &kp MINUS  &kp N7  &kp N8  &kp N9  &kp DOT   &none
&none  &kp TAB    &kp PIPE    &kp LBRC  &kp RBRC  &kp PLUS     &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp RET   &none
&none  &kp GRAVE  &kp TILDE   &kp LBKT  &kp RBKT  &kp BSLH     &kp N0     &kp N1  &kp N2  &kp N3  &kp STAR  &none
                              &kp LGUI  &mo 3     &kp LSHFT    &none      &none   &none
            >;
        };

        layer_3 {
            // -----------------------------------------------------------------------------------------
            // | xxx | WHL | WHR | MUP | VDN | VUP |   | xxx | PRV | NXT | xxx | BRI+ | xxx |
            // | xxx | xxx | MLT | MDN | MRT | SHT |   | xxx | MB1 | MB2 | xxx | BRI- | xxx |
            // | xxx | xxx | PLY | WHD | WHU | CMD |   | xxx | xxx | xxx | xxx | RST  | xxx |
            //                    | xxx | xxx | xxx |   | xxx | xxx | xxx |

            bindings = <
&none  &mwh SCROLL_LEFT  &mwh SCROLL_RIGHT  &mmv MOVE_UP      &kp C_VOL_DN     &kp C_VOL_UP    &none  &kp C_PREV  &kp C_NEXT  &none  &kp C_BRI_UP  &none
&none  &none              &mmv MOVE_LEFT     &mmv MOVE_DOWN    &mmv MOVE_RIGHT  &kp LSHFT       &none  &mkp LCLK   &mkp RCLK   &none  &kp C_BRI_DN  &none
&none  &none              &kp C_PP           &mwh SCROLL_DOWN  &mwh SCROLL_UP   &kp LGUI        &none  &none       &none       &none  &sys_reset    &none
                                             &trans            &trans           &trans          &none  &trans      &trans
            >;
        };
    };
};


//For new Layers
    // -----------------------------------------------------------------------------------------
    // |      |     |     |     |     |     |   |     |     |     |     |     |      |
    // |      |     |     |     |     |     |   |     |     |     |     |     |      |
    // |      |     |     |     |     |     |   |     |     |     |     |     |      |
    //                    |     |     |     |   |     |     |     |